<section class="item-section">
  <div class="item-container">
    <div class="income">
      <h1>Income</h1>
      <div class="budget-items">
        <app-item-card
          [isIncome]="true"
          style="margin-bottom: 20px"
        ></app-item-card>
        <app-item-card
          [isIncome]="true"
          style="margin-bottom: 20px"
        ></app-item-card>
      </div>
    </div>
    <div class="expenses">
      <h1>Expenses</h1>
      <div class="budget-items">
        <app-item-card
          [isIncome]="false"
          style="margin-bottom: 20px"
        ></app-item-card>
        <app-item-card
          [isIncome]="false"
          style="margin-bottom: 20px"
        ></app-item-card>
      </div>
    </div>
  </div>
</section>
