@import "../../main-styles.scss";

.item-section {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;

  .item-container {
    display: flex;
    max-width: 680px;
    height: 100%;
    width: 100%;

    .income,
    .expenses {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      h1 {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
      }

      .budget-items {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }
    .income {
      margin-right: 35px;
      h1 {
        color: $green;
      }
    }

    .expenses {
      h1 {
        color: $red;
      }
    }
  }
}
